# raw data to csv

In [37]:
import pandas as pd
import numpy as np
import tensorflow

with open(f'./data/alldata.csv', 'w') as file_csv:
    file_csv.write('')
#     file_csv.close()

In [38]:
number_samples = 10
sample_number = range(1, 1 + number_samples)
data = []
labelindex = {0: 'crazy',
              1: 'handwave',
              2: 'jazzhands',
              3: 'zorro'}

In [39]:
max_ = 0
for n in sample_number:
  with open(f'./data/data_{labelindex[0]}_{n}.txt') as file:
    data = ''
    
    files_lines = file.readlines()
    
    for line in files_lines:
        words = line.split()
        
        for word in words:
            data += f'{word},'
    
     
    if (len(data) > max_):
        with open(f'./data/alldata.csv', "r+") as file_csv:
            max_ = len(data)
            s = file_csv.read()
            file_csv.seek(0)
            file_csv.write('0,' + data[:-1]+'\n'+ s)
            file_csv.close()
            
    else:
        with open(f'./data/alldata.csv', "a") as file_csv:
            file_csv.write('0,' + data[:-1]+'\n')   
            file_csv.close()

# data_list = []

# for n in sample_number:
#     with open(f'./data/data_{labelindex[0]}_{n}.txt') as file:
#         data = ''
#         lines = ''
#         file_lines = file.readlines()
#         lines = [line.split() for line in file_lines]
#         print(lines)
#         data_list.append(lines)
#         data_list_sorted = sorted(data_list, key=len, reverse=True)
        
# for samp in data_list_sorted:
#     print(*samp, sep=',\n')

# print(data_list_sorted)

In [40]:
df = pd.read_csv('./data/alldata.csv', header=None)

In [41]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,825,826,827,828,829,830,831,832,833,834
0,0,3.4,8.5,-1.6,-2.022837,0.729548,-0.122173,4.4,7.9,-1.3,...,11.4,-0.914553,-2.330015,-2.640683,2.3,6.7,11.4,-0.914553,-2.330015,-2.640683
1,0,2.4,7.8,-2.9,-2.019346,-0.219911,-0.127409,2.9,7.1,-1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2.8,6.0,2.6,-1.471313,1.617920,-0.120428,2.6,5.7,2.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,-0.3,8.5,-3.7,1.577778,4.900885,0.226893,-0.3,8.5,-3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1.9,7.7,-3.3,-1.005310,1.555088,0.207694,2.4,6.9,-3.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df.fillna(0, inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 835 entries, 0 to 834
dtypes: float64(834), int64(1)
memory usage: 65.4 KB

In [53]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,825,826,827,828,829,830,831,832,833,834
count,10.0,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.0,1.720000,7.850000,-3.160000,-0.984017,1.981123,0.202284,2.110000,7.340000,-2.760000,...,1.140000,-0.091455,-0.233001,-0.264068,0.230000,0.670000,1.140000,-0.091455,-0.233001,-0.264068
std,0.0,1.818913,1.035213,2.812354,1.217880,1.741014,0.449073,1.996914,1.280798,2.648773,...,3.604997,0.289207,0.736815,0.835057,0.727324,2.118726,3.604997,0.289207,0.736815,0.835057
min,0.0,-2.100000,6.000000,-8.000000,-2.131047,-0.219911,-0.448550,-2.100000,5.300000,-7.100000,...,0.000000,-0.914553,-2.330015,-2.640683,0.000000,0.000000,0.000000,-0.914553,-2.330015,-2.640683
25%,0.0,1.125000,7.400000,-4.275000,-1.927716,0.832086,-0.121737,1.650000,6.750000,-3.650000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,2.150000,7.900000,-3.500000,-1.411099,1.586504,0.217293,2.500000,7.200000,-3.150000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,2.950000,8.500000,-1.925000,-0.304996,3.314380,0.311105,3.425000,8.350000,-1.450000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,3.800000,9.300000,2.600000,1.577778,4.900885,1.061160,4.400000,9.200000,2.600000,...,11.400000,0.000000,0.000000,0.000000,2.300000,6.700000,11.400000,0.000000,0.000000,0.000000

In [54]:
target = df[0]
features = df.drop(columns=0)

In [55]:
features.head()

,1,2,3,4,5,6,7,8,9,10,...,825,826,827,828,829,830,831,832,833,834
0,3.4,8.5,-1.6,-2.022837,0.729548,-0.122173,4.4,7.9,-1.3,-2.450442,...,11.4,-0.914553,-2.330015,-2.640683,2.3,6.7,11.4,-0.914553,-2.330015,-2.640683
1,2.4,7.8,-2.9,-2.019346,-0.219911,-0.127409,2.9,7.1,-1.9,-2.680826,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
2,2.8,6.0,2.6,-1.471313,1.617920,-0.120428,2.6,5.7,2.6,-2.075196,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,-0.3,8.5,-3.7,1.577778,4.900885,0.226893,-0.3,8.5,-3.7,1.577778,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,1.9,7.7,-3.3,-1.005310,1.555088,0.207694,2.4,6.9,-3.2,-2.005383,...,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [56]:
print(df[:9])

   0    1    2    3         4         5         6    7    8    9    ...   825  \
0    0  3.4  8.5 -1.6 -2.022837  0.729548 -0.122173  4.4  7.9 -1.3  ...  11.4
1    0  2.4  7.8 -2.9 -2.019346 -0.219911 -0.127409  2.9  7.1 -1.9  ...   0.0
2    0  2.8  6.0  2.6 -1.471313  1.617920 -0.120428  2.6  5.7  2.6  ...   0.0
3    0 -0.3  8.5 -3.7  1.577778  4.900885  0.226893 -0.3  8.5 -3.7  ...   0.0
4    0  1.9  7.7 -3.3 -1.005310  1.555088  0.207694  2.4  6.9 -3.2  ...   0.0
5    0  3.0  6.5 -5.4 -1.350885  3.813544  0.764454  4.0  5.3 -5.5  ...   0.0
6    0 -2.1  9.3 -1.0 -0.071558  3.083997  0.249582 -2.1  9.2 -0.9  ...   0.0
7    0  1.2  8.0 -3.9 -2.131047  1.139700  0.331613  2.1  7.3 -3.5  ...   0.0
8    0  1.1  8.9 -4.4  0.307178  3.391175  1.061160  1.5  8.8 -3.1  ...   0.0

        826       827       828  829  830   831       832       833       834
0 -0.914553 -2.330015 -2.640683  2.3  6.7  11.4 -0.914553 -2.330015 -2.640683
1  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
2  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
3  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
5  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
6  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
7  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000
8  0.000000  0.000000  0.000000  0.0  0.0   0.0  0.000000  0.000000  0.000000

[9 rows x 835 columns]